.react-style-card {
    background-color: #283142;
    border-radius: 10px;
    padding: 30px 10px;
}

.react-style-title {
    color: #676FFF;
    font-size: 24px;
    margin-bottom: 20px;
}

.react-form-control {
    height: 46px;
    background-color: #1B2531;
    border: 1px solid #384459;
    border-radius: 5px;
    width: 100%;
    color: #9AAABE;
    padding: 0 20px;
    font-size: 18px;
}

.react-form-control-container {
    margin-bottom: 16px;
    max-width: 300px;
}

.react-sales-table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}

.react-sales-table thead {
    height: 55px;
    font-size: 16px;
    color: #E9E9E9;
    font-weight: 700;
}

.react-sales-table tbody {
    font-weight: 400;
    font-size: 14px;
    color: #CFCFCF;
    text-align: center;
}

.react-sales-table tbody tr {
    height: 74px;
    border-top: 1px solid #5F6E82;
}

.react-sales-table tbody tr:hover>td {
    background-color: #384459;
}

.react-sales-table tbody tr:nth-child(odd) {
    background-color: #242C3B;
}

.btn-container {
    display: flex;
    justify-content: center;
}

.show-576 {
    display: none;
}

@media (min-width: 576px) {
    .show-576 {
        display: table-cell;
    }

    .react-style-card {
        padding: 35px;
    }

    .react-sales-table tbody tr {
        height: 55px;
    }

    .react-sales-table tbody {
        font-size: 18px;
    }
}

.show-992 {
    display: none;
}

@media (min-width: 992px) {
    .show-992 {
        display: table-cell;
    }
}